<!-- Show Specific Event -->

<h2>Winter Storm - 3.05.13</h2>

<p>A Winter Storm appears likely to impact the OH Valley this Tuesday and Wednesday, March 5-6th.  The surface
Low pressure track looks to stay along/south of the OH River allowing much of OH and IN to remain in the "cold sector"
of the system, producing frozen precip.  The predicted track of the Low is illustrated by the solid line connecting the
forecast Low pressure centers indicated with a bold "L".  The scatterplot 
[<span class="see">see </span>
<%= link_to_function "scatterplot", "goto_tab('Info', 'trmScatter')", :class => "lnkText" %>]
 shows the potential Low pressure center (including outliers) for the color associated with time/date in the lower-left corner of the image.
   The colored number is the predicted pressure of the Low center (in millibars) for the corresponding time/date in the lower-left corner.</p>
<figure>
	<figcaption>Suface Low Tracks</figcaption>
	<%= image_tag("Events/3.05.13/SFCLOW_TRACKS-1915Z-3.03.13.PNG", :alt => "Surface Low Tracks-1915Z") %>
</figure>
<p>There is still some uncertainty as to whether or not warm air advects
[<span class="see">see </span>
<%= link_to_function "advection", "goto_tab('Info', 'trmAdvect')", :class => "lnkText" %>] into the OH Valley 
causing a period of rain or freezing rain before the transition to snow.  Areas south of the I-70 corridor to the OH River have the greatest 
chance of rain or freezing rain, increasing with southward extent; areas south of the OH River will mostly see rain.  The extent of warm air
advection (WAA) is highly dependent on the surface Low track and slight shifts southward or northward will produce more or less snow for these
 areas, respectively.</p>