<!-- Show Watches/Warnings -->

<h2>Watches/Warnings</h2>

<p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
website, etc.</p>