<% provide(:subtitle, 'About') %>

<div id="wrapper">
		<section id="abt_me">
			<article>
				<h3>Background</h3>
			</article>
		
		</section>
		<section id="abt_ohwx">
			<article>
				<h3>Purpose</h3>
				
			</article>
			<article>
				<h3>Problem</h3>
				
			</article>
			<article>
				<h3>Scope</h3>
				
			</article>
		</section>
	
</div>
