
<div id="bdy_wrapper">
		<div id="stub">
			<section>
				<h2>Recent News</h2>
				<p>This section can act more as a "blog" with or without database backing </p>
			</section>
		</div>
		<div id="TabArea_bg" class="tabbed_area">
	        <ul class="tabs">
	            <li><a href="javascript:tab_select('Events')" id="Events" class="active">Ensuing Systems</a></li>
	            <li><a href="javascript:tab_select('Models')" id="Models">Models</a></li>
	            <li><a href="javascript:tab_select('Outlooks')" id="Outlooks">Outlooks</a></li>
				<li><a href="javascript:tab_select('Mesos')" id="Mesos">Meso Discs</a></li>
				<li><a href="javascript:tab_select('WWs')" id="WWs">Watches/Warnings</a></li>
				<li><a href="javascript:tab_select('Radar')" id="Radar">Radar</a></li>
				<li><a href="javascript:tab_select('Info')" id="Info">Info</a></li>
	        </ul>
	
	        <div id="Events_Content" class="content">
	            <h2>Event</h2>
	            <p>This is the Domains' tab content.  This content can contain [<span class="see">see</span>
				   <%= link_to_function "GFS", "goto_tab('Info', 'trmGFS', 'lnk1')", :id => "lnk1", :class => "lnkText" %>] 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.</p>
	        </div>
	        <div id="Models_Content" class="content">
	            <h2>Model</h2>
	            <p>This is the Workflows' tab content. This content can contain <a href="javascript:link_to_tab(...)" id="lnk2">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc. Tab content may also contain lists:
	            </p>
	            <ul>
	                <li><a id="2012">2012</a></li>
	                <li><a id="2011">2011</a>&nbsp;<a href="javascript:return_from_tab()"><small>RETURN</small></a></li>
	                <li><a id="2010">2010</a></li>
	                <li><a id="2009">2009</a></li>
	            </ul>
	        </div>
	        <div id="Outlooks_Content" class="content">
	            <h2>Outlook</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Mesos_Content" class="content">
	            <h2>Meso Disc</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="WWs_Content" class="content">
	            <h2>Watch/Warning</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Radar_Content" class="content">
	            <h2>Radar</h2>
	            <p>This is the Documents' tab content.  This content can contain <a href="javascript:link_to_tab(...)" id="lnk3">links</a> 
	               to different tabs and their respective content.  It can also contain third-party <a href="#">links</a> to any desired
	               website, etc.
	            </p>
	        </div>
			<div id="Info_Content" class="content">
	            <%= render 'layouts/info' %>
	        </div>
	    </div>
</div>
