<% provide(:subtitle, 'Images') %>

<div class="wrapper">
	<section id="IMGstub">
		<article>
			<h1>Image Gallery</h1>
			<p>This page has not been populated yet.</p>
		</article>
	</section>
</div>
