<% provide(:subtitle, 'L. O. W.') %>

<div class="wrapper">
	<section id="LOWstub">
		<article>
			<h1>Learn. Observe. Warn.</h1>
			<p>This page has not been populated yet.</p>
		</article>
	</section>
</div>
