<% provide(:subtitle, 'References') %>

<div class="wrapper">
	<section id="bookRefs">
		<article>
			<h1>Book References</h1>
			<p>Doswell, Charles A. <em>Severe Convective Storms.</em> Boston, MA: American Meteorological Society, 2001. Print.</p>
			<p>Bluestein, Howard B. <em>Synoptic Dynamic Meteorology in Midlatitudes.</em> New York [u.a.: Oxford Univ. Pr., 1992. Print.</p>
			<p>Markowski, Paul, and Yvette Richardson. <em>Mesoscale Meteorology in Midlatitudes.</em> Chichester: Wiley-Blackwell, 2010. Print.</p>
			<p>Mogil, H. Michael., and Barbara G. Levine. <em>Extreme Weather.</em> New York: Simon & Schuster for Young Readers, 2011. Print.</p>
		</article>
	</section>
	<section id="webRefs">
		<article>
			<h1>Internet References</h1>
			<p>"National Center for Atmospheric Research." <em>NCAR.</em> National Science Foundation, n.d. Web. 11 Mar. 2013. <a href="http://ncar.ucar.edu" target="_blank">http://ncar.ucar.edu/.</a></p>
			<p><em>PSU ELECTRONIC MAP WALL.</em> Penn State University, n.d. Web. 11 Mar. 2013. <a href="http://www.meteo.psu.edu/ewall/ewall.html" target="_blank">http://www.meteo.psu.edu/ewall/ewall.html/.</a></p>
			<p>"Storm Prediction Center." <em>SPC.</em> NOAA NWS, n.d. Web. 11 Mar. 2013. <a href="http://www.spc.noaa.gov" target="_blank">http://www.spc.noaa.gov/.</a></p>
			<p>"Weather Data & Model Forecasts." <em>TwisterData.</em> Weather Fusion LLC, n.d. Web. 11 Mar. 2013. <a href="http://www.twisterdata.com" target="_blank">http://www.twisterdata.com/.</a></p>
			<p>"Weather Prediction Center." <em>WPC.</em> NOAA NWS, n.d. Web. 11 Mar. 2013. <a href="http://www.hpc.ncep.noaa.gov" target="_blank">http://www.hpc.ncep.noaa.gov/.</a></p>
		</article>
	</section>
</div>