<% provide(:subtitle, 'Wx Events') %>

<div class="wrapper">
	<section id="EVTstub">
		<article>
			<h1>Past Weather Events</h1>
			<p>This page has not been populated yet.</p>
		</article>
	</section>
</div>
