<!-- Show Specific Event -->

<h2>Winter Storm - 3.05.13</h2>
<p>A Winter Storm appears likely to impact the OH Valley next Tuesday, March 5th.
Accumulating snow of 4-6" may be possible with this system.  For more information
[<span class="see">see </span><%= link_to_function "GFS", "goto_tab('Info', 'trmGFS', 'lnk1')", :id => "lnk1", :class => "lnkText" %>]</p>