/*** Variables ***/
$txtColor: #FFF;
$bgHeader: rgba(121,121,121, .2);
$bgTabs: rgba(70,76,84,.7);  		/* default tab color #464C54;*/
$transparent: rgba(121,121,121, 0);
$lnkColor: #ECAE3C;
$tabColor: rgba(236,174,60,.7); 	/* hovered tab color #ECAE3C;*/
$tabContent: rgba(121,121,121,.7); 	/* selected tab color and tabbed content bg */
$black: #000;



div.box > a 
{
    color: #CCC;
    text-decoration: none;
}
div.box > a:hover 
{
    color: #CCC;
    text-decoration: none;
}
#tabMenu
{
    width: 460px;
	margin: 0px;
    padding: 0px 0px 0px 15px;
    list-style: none;
	
	li
	{
		float: left;
		margin: 0 3px;
		height: 32px;
		width: 39px;
		cursor: pointer;
		cursor: hand;
		
		&:hover { background-color: $lnkColor; }
	}
	li.selected { background-color: $tabContent; }
}


li.localwx {
	background-position: center;
	background-color: $bgTabs; /*Aqua;*/
	background-image: url("clipart/sunThumb.png");
	background-repeat: no-repeat;
}
li.localrdr {
	background-position: center;
	background-color: $bgTabs; 	/*Red;*/
	background-image: url("clipart/radarThumb.png");
	background-repeat: no-repeat;
	
	padding-left: 5px;
}
li.tutorial {
	background-position: center;
	background-color: $bgTabs;	/*Blue;*/ 
	background-image: url("clipart/documentThumb.png");
	background-repeat: no-repeat;
}
li.anatomy { 
	background-position: center;
	background-color: $bgTabs;
	background-image: url("clipart/anatomyThumb.png");
	background-repeat: no-repeat;
	
}
li.random { background-color: $bgTabs;	/*Fuchsia;*/ }

/*li.mouseover { background-position: 0px 0px; }
li.mouseout { background-position: 0px -32px; }*/


.box {
	width: 460px;
	margin: 7px auto;
}
.boxTop { /* style for top of boxed content */ }
.boxBody { 
	background-color: $tabContent;	/*#282828; */
	color: $txtColor;
	padding-top: 1px;
	
	border-radius: 10px;
	-mo-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	div.parent { display: none; }
	div.show { display: block; }
	
	div {
		a {
			color: $txtColor;
			background-color: $transparent;
			text-decoration: none;
			
			&:hover {
				color: $lnkColor;
				background-color: $transparent;
				text-decoration: none;
			}
		}
		
		ul, p, h2, h3, h4 {
			margin: 7px;
			padding: 0px;
			width: 437px;
			list-style: none;
		}
		li
		{
			border-bottom: 1px #8E8E8E dotted;
			padding: 4px 0px;
			cursor: hand;
			cursor: pointer;
			
			span 
			{
				font-size: 8px;
				font-style: italic;
				color: #888;
			}
			
			&:last-child { border-bottom: none; }
		}
		
		img#rdrOH {
			position: relative;
			left: -11px;
			width: 480px;
		}

		figure {
			figcaption {
				position: relative;
				left: -50px;
				width: 480px;
				margin: 0 auto;
				text-align: center;
			}
			img {
				position: relative;
				left: -50px;
				width: 480px;
			}
		}
	}
}
.boxBottom { /* style for bottom of boxed content */ }

/*** Tutorials ***/
.disp { display: block; }
.hide { display: none; }

/*** Anatomy ***/
#CldLowImgs {
	list-style: none;
	text-align: center;
	
	li {
		display: inline;
		margin: 0 15px;
		border-bottom: 1px #8E8E8E dotted;
		background-color: $transparent;
		
		&:hover {
			background-color: $transparent;
		}
	}
}