div.box > a 
{
    color: #CCC;
    text-decoration: none;
}
div.box > a:hover 
{
    color: #CCC;
    text-decoration: none;
}
#tabMenu
{
    margin: 0px;
    padding: 0px 0px 0px 15px;
    list-style: none;
	
	li
	{
		float: left;
		height: 32px;
		width: 39px;
		cursor: pointer;
		cursor: hand;
	}
}


li.comments { background-color: Aqua; }
li.posts { background-color: Red; }
li.category { background-color: Blue; }
li.famous { background-color: Green; }
li.random { background-color: Fuchsia; }

li.mouseover { background-position: 0px 0px; }
li.mouseout { background-position: 0px -32px; }
li.selected { background-position: 0px 0px; }

.box { width: 227px; }
.boxTop { /* style for top of boxed content */ }
.boxBody { 
	background-color: #282828; 

	div.parent { display: none; }
	div.show { display: block; }
	
	div {
		ul, p, h2 {
			margin: 0px 10px 0px 25px;
			padding: 0px;
			width: 190px;
			list-style: none;
		}
		li
		{
			border-bottom: 1px #8E8E8E dotted;
			padding: 4px 0px;
			cursor: hand;
			cursor: pointer;
			
			span 
			{
				font-size: 8px;
				font-style: italic;
				color: #888;
			}
			
			&:last-child { border-bottom: none; }
		}
	}
}
.boxBottom { /* style for bottom of boxed content */ }

/*.boxBody #category a { display: block; }*/

/* IE operability */
/*html .boxTop { margin-bottom: -2px; }
*html .boxBody div ul 
{
    margin-left: 10px;
    padding-left: 15px;
}*/