<!-- Show Blog -->

<h2>What's&nbsp;New</h2>
<p>This is the What's New/Blog tab.  It will contain weather related information not pertinant to an upcoming system and/or new features of the website.  All information not related to a specific event should be put here.</p>
<ul>
	<li>Random Post 1</li>
	<li>Random Post 2</li>
	<li>Random Post 3</li>
</ul>