<!-- Show Events -->

<h2>Event - <%= @event.date %></h2>
<p>Discussion: <%= @event.disc %>

	links should show up as well
	[<span class="see">see </span><%= link_to_function "GFS", "goto_tab('Info', 'trmGFS', 'lnk1')", :id => "lnk1", :class => "lnkText" %>]
	
	
	
</p>