	<h2>Terms and Definitions</h2>
	<nav>
		<dl>
			<dt id="trmGFS">GFS</dt><dd>- Global Forecast System</dd>
			<dt id="trmEURO">EURO</dt><dd>- European Model System </dd>
			<dt id="trmNAM">NAM</dt><dd>- North American Mesoscale model </dd>	
		</dl>
	</nav>
	<%= link_to_function "RETURN", "return_from_tab()", :class => "return" %>
