	<h2>Terms and Definitions</h2>
	<nav>
		<dl>
			<dt id="trmAdvect">Advection</dt><dd>- the transfer of heat or matter by the flow of a fluid; e.g. horizontally in the atmosphere.</dd>
			
			<dt id="trmCMC">CMC</dt><dd>- Canadian model</dd>
			
			<dt id="trmDirections">Directions</dt><dd>- Direction abbreviations: N=North; NE=Northeast; E=East; SE=Southeast; S=South; SW=Southwest; W=West; NW=northwest</dd>
			
			<dt id="trmEnsemble">Ensemble</dt><dd>- in meteorology this would be a group of model outputs for a specific model run; i.e. running a model algorithm 20+ times creates an ensemble of outputs, the average of the outputs is called an "ensemble mean"</dd>
			
			<dt id="trmEURO">EURO</dt><dd>- European model</dd>
			
			<dt id="trmGFS">GFS</dt><dd>- Global Forecast System model</dd>
			
			<dt id="trmHr">hr</dt><dd>- hour, usually meaning number of hours after model initial time</dd>
			
			<dt id="trmHeight">Height</dt><dd>- height of a level of pressure, i.e. how far up the atmosphere until the pressure is found; height falls indicate the approach of a Low pressure system, height rises indicate High pressure building</dd>
			
			<dt id="trmLow">Low</dt><dd>- Low pressure system (either upper level: 250mb Low, mid level: 500mb Low, or surface level: lowest pressure at the surface)</dd>
			
			<dt id="trmMb">mb</dt><dd>- millibar is unit of pressure, in meteorology it is used to define a level of the atmosphere; e.g. 250mb is the upper atmosphere, 500mb is the upper-mid atmosphere, 700mb is the mid atmosphere, 850mb is the upper-lower atmosphere, 925mb is the lower atmosphere, and 1000mb is the near the surface (even "below" the surface if the surface pressure is less than 1000mb)</dd>
			
			<dt id="trmNAM">NAM</dt><dd>- North American Mesoscale model</dd>
			
			<dt id="trmNAVY">NAVY</dt><dd>- Navy's model</dd>
			
			<dt id="trmNegTilt">Negative Tilt</dt><dd>- Negative Tilt describes the orientation of a trough axis, where the strongest winds of the trough are located to the SE from the trough center **include image**</dd>
			
			<dt id="trmPosTilt">Positive Tilt</dt><dd>- Positive Tilt describes the orientation of a trough axis, where the strongest winds of the trough are located to the SW from the trough center **include image**</dd>
			
			<dt id="trmPrecip">Precip</dt><dd>- precipitation measured in inches, NOT necessarily rain, but liquid equivalent; e.g. 0.5" can be 5"+ of snow if the temperatures are cold enough or 0.5" of rain if the temperatures are warm enough</dd>
			
			<dt id="trmPRS">PRS</dt><dd>- pressure at the surface</dd>
			
			<dt id="trmRAP">RAP</dt><dd>- Rapid update model</dd>
			
			<dt id="trmRH">RH</dt><dd>- Relative Humidity is the amount of moisture in the air compared to what the air can "hold" at that temperature; for precip to reach the ground RH should be near 100%</dd>
			
			<dt id="trmScatter">Scatterplot</dt><dd>- the set of points, designated by a symbol, representing the outputs of an algorithm</dd>
			
			<dt id="trmSREF">SREF</dt><dd>- Short Range Ensemble Forecast model</dd>
			
			<dt id="trmThick">THK</dt><dd>- thickness of a column of air between two levels, e.g. THK 1000-500mb is the thickness of the column of air between 1000mb and 500mb; also can infer average temperature of the column of air between the two levels (greater thickness = warmer average temp)</dd>
			
			<dt id="trmTrough">Trough</dt><dd>- dip or trough in the wind flow field of the upper, mid, or lower atmosphere; induces Low pressure</dd>
			
			<dt id="trmVor>VOR</dt><dd>- vorticity, in fluid dynamics it is the tendency for a fluid to spin; the meteorological use is similar, but mainly refers to the tendency for the upper-mid atmosphere to induce "spin" or surface Low pressure (higher vorticity can induce stronger surface Low pressure systems)</dd>
			
			<dt id="trmZulu">Z (Zulu)</dt><dd>- Zulu time aka UTC or GMT (EST is -4 during daylight savings and -5 otherwise)</dd>
		</dl>
	</nav>
	<%= link_to_function "RETURN", "return_from_tab()", :class => "return" %>
