	<h2>Terms and Definitions</h2>
	<nav>
		<dl>
			<dt id="trmAdvect">advection</dt><dd>- The transfer of heat or matter by the flow of a fluid, e.g. horizontally in the atmosphere.</dd>
			<dt id="trmGFS">GFS</dt><dd>- Global Forecast System</dd>
			<dt id="trmEURO">EURO</dt><dd>- European Model System </dd>
			<dt id="trmNAM">NAM</dt><dd>- North American Mesoscale model </dd>
			<dt id="trmScatter">scatterplot</dt><dd>- The set of points, designated by a symbol, representing the outputs of an algorithm.</dd>
		</dl>
	</nav>
	<%= link_to_function "RETURN", "return_from_tab()", :class => "return" %>
